<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.lostandfound.project.laf.mapper.LafInfoMapper">

    <resultMap id="LafInfoResult" type="cn.doublefloat.lostandfound.project.laf.domain.LafInfo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="lostTime" column="lost_time"/>
        <result property="lostPosition" column="lost_position"/>
        <result property="summary" column="summary"/>
        <result property="image" column="image"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>


    <select id="list" resultMap="LafInfoResult">
        SELECT * FROM laf_info
        WHERE delete_time IS NULL
        <if test="title != null and title != ''">
            AND title LIKE concat('%', #{title}, '%')
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="lostTime != null and lostTime != ''">
            AND lost_time = #{lostTime}
        </if>
        <if test="lostPosition != null">
            AND lost_position LIKE concat('%', #{lostPosition}, '%')
        </if>
        <if test="summary != null and summary != ''">
            AND summary LIKE concat('%', #{summary}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
</mapper>