<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.doublefloat.lostandfound.project.notification.mapper.NotificationMapper">
    <resultMap id="notificationResult" type="cn.doublefloat.lostandfound.project.notification.domain.Notification">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="image" property="image"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_by" property="deleteBy"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <select id="list" resultMap="notificationResult">
        SELECT * FROM notification WHERE 1 = 1
        <if test="title != null or title != ''">
            AND title LIKE contact('%', #{title}, '%')
        </if>
        <if test="content != null or content != ''">
            AND content LIKE contact('%', #{content}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
</mapper>